<div class="device-form-container">
  <h2>Cadastrar Dispositivo</h2>

  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">

    <!-- Campo Nome do Dispositivo -->
    <mat-form-field appearance="outline">
      <mat-label>Nome do Dispositivo</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <!-- Campo Modelo -->
    <mat-form-field appearance="outline">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="model" required />
    </mat-form-field>

    <!-- Campo Status -->
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Disponível">Disponível</mat-option>
        <mat-option value="Em uso">Em uso</mat-option>
        <mat-option value="Manutenção">Manutenção</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Botão de Envio -->

    <button mat-raised-button color="primary" type="submit" [disabled]="deviceForm.invalid">
      Cadastrar
    </button>
  </form>
</div>

