table {
  width: 100%;
}

/* Centralizando o título da coluna "Ações" */
.actions-header {
  text-align: center;
}

.table-container {
  min-height: 300px;
  max-height: 300px;
  overflow: auto !important;
  background-color: white;
}

.spinner {
  position: relative;
  margin-left: 45%;
  margin-top: 10%;
}

.mensagem-sem-registros {
  position: relative;
  margin-left: 30%;
  margin-top: 10%;
}
.editar-link {
  margin-left: 10px; /* Adiciona espaço entre o nome e o link */
  text-decoration: underline; /* Opcional: deixa o link mais visível */
  color: blue; /* Opcional: estiliza o link */
  cursor: pointer;
}
