<p>Listar Dispositivos</p>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<div class="componente-container">
  <div *ngIf="dispositivos$ | async as dispositivos; else loading">

    <table mat-table [dataSource]="dispositivos" class="mat-elevation-z8">

      <!-- Coluna de Ação (Excluir) -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let dispositivo">
          <!-- Botão de Excluir -->
          <button mat-raised-button color="warn" class="excluir-botao" (click)="onDelete(dispositivo.id)">Excluir</button>

        </td>
      </ng-container>

      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let dispositivo"> {{dispositivo.id}} </td>
      </ng-container>

      <!-- Nome -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let dispositivo">
          {{dispositivo.name}}
          <a [routerLink]="['/dispositivos/editar', dispositivo.id]" class="editar-link">Editar</a>
        </td>
      </ng-container>

      <!-- Localização -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Localização </th>
        <td mat-cell *matCellDef="let dispositivo"> {{dispositivo.location}} </td>
      </ng-container>

      <!-- Data de Compra -->
      <ng-container matColumnDef="purchase_date">
        <th mat-header-cell *matHeaderCellDef> Dta_Cadastro </th>
        <td mat-cell *matCellDef="let dispositivo"> {{dispositivo.purchase_date | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Status (in_use) -->
      <ng-container matColumnDef="in_use">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let dispositivo">
          {{ dispositivo.in_use ? 'Em uso' : 'Disponível' }}
        </td>
      </ng-container>

      <!-- Cabeçalho e Linhas -->
      <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>

    </table>

    <!-- Botões de Ação -->
    <div class="linha-botoes">
      <button mat-raised-button color="primary" routerLink="/dispositivos/cadastrar">Cadastrar</button>
    </div>

    <!-- Paginação -->
    <mat-paginator
      [length]="totalDevices"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      (page)="pageChanged($event)">
    </mat-paginator>

  </div>
</div>
