<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Purchase Date</th>
      <th>In Use</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let device of devices">
      <td>{{ device.id }}</td>
      <td>{{ device.name }}</td>
      <td>{{ device.location }}</td>
      <td>{{ device.purchase_date | date }}</td>
      <td>{{ device.in_use ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>


<!-- Estilo e título -->
<div style="background-color: yellow; padding: 20px;">
  <h2 style="color: red;">Lista de Dispositivos</h2>
</div>
